.chat {
  ul {
    margin-top: 5em;
  }

  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  form {
    margin-bottom: 2em;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}